@media (max-width: 620px) {
    body{

    background-size: cover;

    }
    .personagens-slider {
      padding: 0px 10px;
      gap: 5px;
    }
  
    .btn-seta {
      width: 30px;
      height: 30px;
      padding: 30px;
    }
  
    .lista-personagens {
      height: 480px;
    }
  }

